@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

.O-color {
    color: orange;
}

.flexible-conatiner {
    display: flex;
    margin-bottom: 100px;
    padding-top: 5%;
}

.top-Banner {
    background-image: url(./images/top-banner.png);
    width: 100vw;
    background-repeat: no-repeat;
}

.haf-width {
    width: 50%;
    padding-left: 5%;
}

.haf-width img {
    width: 80%;
}

.haf-width p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
}

.haf-width a {
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

.Dream-big {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Dream-big>.haf-width {
    width: 50%;
    padding-right: 5%;
}


.exparience {
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exp-item {
    width: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 3%;
    padding: 20px 40px;
    border-radius: 10px;
}

.exp-item h1 {
    font-size: 40px;
}

#web-dev {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#baby-dev {
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}